In [1]:
import os
import pandas as pd
import sys

In [2]:
sys.path.append(os.path.abspath('../..'))

In [3]:
from analysis.preprocessing import load_and_clean_glaciers_data

In [4]:
df = load_and_clean_glaciers_data()
df

    Year  Mean cumulative mass balance  Number of observations
0   1956                         0.000                     NaN
1   1957                        -0.094                    12.0
2   1958                        -0.963                    12.0
3   1959                        -1.431                    13.0
4   1960                        -2.008                    15.0
..   ...                           ...                     ...
63  2019                       -25.859                    61.0
64  2020                       -26.742                    61.0
65  2021                       -27.419                    61.0
66  2022                       -28.509                    60.0
67  2023                       -29.738                    53.0

[68 rows x 3 columns]