In [ ]:
import os
import pandas as pd
import sys
import plotly.express as px

In [2]:
sys.path.append(os.path.abspath('../..'))

In [3]:
from analysis.preprocessing import load_and_clean_global_warning_data

In [4]:
df = load_and_clean_global_warning_data()
df

                  Entity      Code  Year  near_surface_temperature_anomaly
0    Northern Hemisphere       NaN  1850                         -0.055067
1    Northern Hemisphere       NaN  1851                          0.161580
2    Northern Hemisphere       NaN  1852                          0.145127
3    Northern Hemisphere       NaN  1853                          0.135437
4    Northern Hemisphere       NaN  1854                          0.206140
..                   ...       ...   ...                               ...
523                World  OWID_WRL  2021                          1.124203
524                World  OWID_WRL  2022                          1.163603
525                World  OWID_WRL  2023                          1.462611
526                World  OWID_WRL  2024                          1.543098
527                World  OWID_WRL  2025                          1.552580

[528 rows x 4 columns]

In [ ]:


# Filtrer pour l'entité "World"
df_world = df[df["Entity"] == "World"]

# Créer le graphique
fig = px.line(
    df_world,
    x="Year",
    y="near_surface_temperature_anomaly",
    title="Évolution de la température terrestre - Monde"
)

for trace in fig.data:
    trace.name = "Anomalie de température"
    trace.line.color = "#d62728"  

# Mettre à jour layout
fig.update_layout(
    xaxis_title="Année",
    yaxis_title="Anomalie de température (°C)",
    legend_title_text="Mesure",
    margin={"r":0, "t":40, "l":0, "b":0}
)

fig.show()