In [1]:
import sys
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sys.path.append(os.path.abspath("../.."))

In [3]:
from analysis.preprocessing import load_and_clean_ph_data, load_and_clean_plastic_data
from analysis.plots import plot_ph_evolution, plot_plastic_accumulation

In [4]:
df_ph = load_and_clean_ph_data()
df_ph

     Entity  Code        Date  pH yearly average      pH
0    Hawaii   NaN  1989-11-27           8.109064  8.1101
1    Hawaii   NaN  1990-01-05           8.110091  8.1332
2    Hawaii   NaN  1990-02-15           8.110729  8.1229
3    Hawaii   NaN  1990-03-19           8.110727  8.1340
4    Hawaii   NaN  1990-04-13           8.111190  8.1229
..      ...   ...         ...                ...     ...
334  Hawaii   NaN  1989-06-24                NaN  8.1018
335  Hawaii   NaN  1989-07-29                NaN  8.0991
336  Hawaii   NaN  1989-08-24                NaN  8.0930
337  Hawaii   NaN  1989-09-22                NaN  8.0990
338  Hawaii   NaN  1989-10-18                NaN  8.0858

[339 rows x 5 columns]